# https://github.com/mysql/mysql-operator/blob/trunk/helm/mysql-innodbcluster/values.yaml

image:
  pullPolicy: IfNotPresent
  pullSecrets:
    enabled: false
    secretName:

credentials:
  root:
    user: root
    password: ${credentials_root_password}
    host: "%"

tls:
  useSelfSigned: true

#serverVersion: 8.0.31
serverInstances: ${server_instances}
routerInstances: ${router_instances}
baseServerId: 1000

#initDB:
#  dump:
#    name:
#    path:
#    options:
#      includeSchemas:
#    ociObjectStorage:
#      prefix:
#      bucketName:
#      credentials:
#    persistentVolumeClaim:
#  clone:
#    donorUrl:
#    rootUser:
#    credentials:

podSpec:
  containers:
  - name: mysql
    resources:
      requests:
        memory: "${mysql_resources_requests_memory}"  # adapt to your needs
        cpu: "${mysql_resources_requests_cpu}"      # adapt to your needs
      limits:
        memory: "${mysql_resources_limits_memory}"  # adapt to your needs
        cpu: "${mysql_resources_limits_cpu}"      # adapt to your needs

serverConfig:
  mycnf: |
    [mysqld]
    default_authentication_plugin=mysql_native_password

datadirVolumeClaimTemplate:
  storageClassName: ""
  accessModes: ReadWriteOnce
  resources:
    requests:
      storage: 2Gi

#backupProfiles:
#- name: local-backup-pvc
#  dumpInstance:
#    storage:
#      persistentVolumeClaim:
#        claimName: local-backup
#
#backupSchedules:
#- enabled: true
#  name: local-backup
#  schedule: "0 0 * * *"
#  deleteBackupData: false
#  backupProfileName: local-backup-pvc

