**/.terraform
**/terraform.tfstate
*.tfvars
.env
node_modules/

config
stage4/local-path-provisioner*

# Container files
container/root/*
!container/root/.bashrc


.DS_Store


workspaces/aws/bedrockagent/docs/*
!workspaces/aws/bedrockagent/docs/*/
workspaces/aws/bedrockagent/docs/*/*
!workspaces/aws/bedrockagent/docs/.gitkeep
workspaces/aws/bedrockagent/terraform/tfplan
