apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: correlation-id
  annotations:
    kubernetes.io/ingress.class: kong
  labels:
    global: "true"
config:
  header_name: X-Request-ID
  generator: uuid#counter
  echo_downstream: true
plugin: correlation-id
