replicaCount: 3

autoscaling:
  enabled: true

admin:
  enabled: true
  http:
    enabled: true
    servicePort: 8001
    containerPort: 8001
  ingress:
    enabled: false
    ingressClassName: kong
    hostname: ${hostname}
    path: /kong
    pathType: ImplementationSpecific

ingressController:
  enabled: true

serviceMonitor:
  enabled: true
  labels:
    release: kube-prometheus-stack

proxy:
  enabled: true
  %{ if load_balancer_ip_address != "" }
  loadBalancerIP: ${load_balancer_ip_address}
  %{ endif }
